/* general */
.transparent{
  opacity: 0;
}


/* sr-home */
sr-home .title{
 letter-spacing: 10px;
 color: black;
 font-family: 'Work Sans', sans-serif;
 font-weight: 600;
 text-transform: uppercase;
}
