<div class="uk-position-fixed uk-position-top" style="z-index: 5">
  <sr-nav></sr-nav>
</div>

<div class="uk-container uk-container-large" style="margin-top: 100px; padding-bottom: 50px;">
  <ul class="uk-subnav uk-subnav-pill" uk-switcher>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Vision</a></li>
    <li><a href="#">Soul Relics and the UN SDG</a></li>
    <li><a href="#">For Clinical Professionals</a></li>
    <li><a href="#">For Professionals from the Art and Museum Sector</a></li>
    <li><a href="#">Be a part of the story</a></li>
  </ul>
  <ul class="uk-switcher uk-margin">
    <li>
      <p>Welcome to the Soul Relics Museum.</p>
      <p>
        Soul Relics is a collection of personal objects that have held special significance to their owners during times of distress.
      </p>
      <p>
        A Soul Relic can be anything of personal significance. It may have provided solace or comfort, helped recover a sense of self, or simply marked a time of difficult internal struggle.
      </p>
      <p>
        As each object is unique, so is every narrative contained in these objects, and every person who chooses to share their story through them.
      </p>
      <p>
        Ultimately, Soul Relics is a place for collective storytelling and story-receiving – a repository of memories, feelings and experiences. We hope that by engaging with this archive, you will be able to deepen your relationship with yourself and others.
      </p>
      <p> <i>
      *All stories on the site are either owned by the public or have been authorised by the contributors.*
      </i></p>

      <h4>About the Curator</h4>
      <img width="300" ng-src="{{$ctrl.vanessaImage}}">
      <p>
        I am a psychology graduate who worked in a local mental health charity and am currently assisting a multi-site, multi-country randomised control reserach trial on the effectiveness of an online CBT programme.
      </p>
      <p>
        The idea for Soul Relics Museum was conceived after visiting the <a href="https://brokenships.com/">Museum of Broken Relationships </a> in Croatia. The thought of bridging the museum and mental health sectors came about thereafter. This idea fascinates me and allows me to develop my various alter egos into the worlds of art, digital, mental health, and social entrepreneurship. Through this journey, I visited many museums, gave a few workshops in the community and will have a small exhibition space for some of the photos and stories. I received both positive and constructive feedback over time. Most importantly, I have had the honour to talk to many inspirational people and listen to heartfelt, honest and lesser-told stories. 
      </p>
      <p>
        I firmly believe that wellbeing underpins and intersects with other issues such as welfare, housing, economic disparity and gender. I believe in the power of storytelling to help us better understand one another and create meaningful changes in society. I hope that one day, mental health is not a stigma and stories can be told and heard. 
      </p>
    </li>
    <li>
      <p>
        Our vision is for Soul Relics to become a physical museum where people can visit, view and with the owner’s consent, handle these symbolic possessions. Through this, we hope to foster empathy, connection and understanding of mental health issues. We hope that by refocusing on the stories of individuals, we can cultivate social change from the ground up.
      </p>
      <h4>Our Goals</h4>
      <ul>
        <li>To cultivate empathy using relatable media </li>
        <li>
          To provide a platform for creative expression of individual stories
        </li>
        <li>To help us remind each other of what keeps us better</li>
      </ul>
      <h5>Past Events</h5>
      <ul>
        <li>14th June 2017: <a href="https://www.eventbrite.co.uk/e/soul-relics-memories-and-story-tickets-33129315675">First Workshop</a></li>
        <li>29th June 2017: Presentation at <a href="http://dragoncafe.co.uk/">Dragon Café</a></li>
        <li>5th to 9th September 2017: Photo Exhibition at Kingsley Hall</li>
      </ul>
      <h5>Upcoming Events</h5>
      <ul>
        <li>7th November 2017: <a href="https://www.ukssd.co.uk/Event/koreo-koreo-prize-pop-up-exhibition-launch">Koreo Prize 2017 Finalist Pop-up Exhibition and Human Library at DigitasLBi, Brick Lane</a></li>
        <li> 20th November 2017: <a href="https://www.rcn.org.uk/news-and-events/events/emotional-objects"> Emotional Objects, an event as part of the Being Human Festival, 2017 at the Royal College of Nursing</a></li>
        <li>October 2018: Exhibition for Mental Health Awareness Week (to be confirmed)</li>
      </ul>
    </li>
    <li>
      <p>
        In 2015, mental health was included in the UN Sustainable Development Agenda for the first time (<a href="https://www.researchgate.net/profile/Nicole_Votruba/publication/304634821_Does_the_United_Nations_care_about_mental_health/links/5783ae9f08aeca7daac3d26f/Does-the-United-Nations-care-about-mental-health.pdf">Thronicroft &amp; Votruba, 2015</a>). This was a clear recognition of mental health as a central aspect of human wellbeing on the global stage.
      </p>
      <p>
        In the UK, one in four adults experiences at least one diagnosable mental health condition in any given year. While great efforts have been made to increase mental health support in the recent years, intractable problems have also arisen.
      </p>
      <p>
        Approaches to promoting mental health are varied and often divisive. Researchers and practitioners continually disagree about how to diagnose and treat mental health conditions. There are some who have sought to distance themselves from the language of “mental health” and “mental disorders” altogether, believing that these labels only serve to medicalise legitimate aspects of the human experience. Many people continue to fall through the safety net of the healthcare system while for others, societal biases and stigma prevent them from accessing the support they seek.
      </p>
      <p>
        The difficulties in creating an effective mental health support system reflect the varied ways in which people are affected by both their internal experiences and external events. Perhaps there is a need for a deeper understanding of the intersectionality between personal and collective pain at the grassroots level.
      </p>
      <p>
        Soul Relics is a project that seeks to help people find their own voice and connect with others. As human beings, we make sense of our experiences through forming stories. Telling a story empowers the storyteller, and brings a sense of intimacy to the listener. We hope that this project will enhance our shared understanding of how to promote mental wellbeing and build supportive connections.
      </p>
    </li>
    <li>
      <p>
        Soul Relics was developed based on the principles of narrative therapy and object relation theory, which have provided methods to increase an individual’s sense of wellbeing and connection. If you are a clinical professional or a mental health service provider, we would like to invite you and your clients to explore our project and even contribute your stories.
      </p>
      <h5>Narrative Therapy</h5>
      <p>
        Soul Relics finds a strong theoretical basis in the therapeutic approach of the <a href="http://dulwichcentre.com.au/">Dulwich Centre</a>, from which Narrative Therapy originated. The Dulwich Centre has produced a set of Story-Telling Rights, which include the ones below:
      </p>
      <p>
        Article 1 – Everyone has the right to define their expectations and problems in their own words and terms
      </p>
      <p>
        Article 5 – Everyone has the right for their responses to trauma to be acknowledged. No one is a passive recipient of trauma. People always respond.  People always protest injustice. 
      </p>
      <p>
        Article 7 – Everyone has the right to know and experience that what they have learnt through hardship can make a contribution to others in similar situations. 
      </p>
      <p>
        Do visit the website of <a href="http://dulwichcentre.com.au/">the Dulwich Centre</a> to learn more about Narrative Therapy.
      </p>
      <h5>Object-Relation Theory</h5> 
      <p>
        Object-Relation Theory describes the relationships humans form with objects and how these relationships are internalised. It has been found that as we interact with objects, we form relationships with them and they come to play a symbolic or aesthetic role in our lives. Interacting with objects can strengthen a person’s sense of personal significance and evoke emotional responses through activation of associations and the imagination. 
      </p>
      <p>
        It is our hope that participation in Soul Relics will increase mental wellbeing by enabling people to form personally significant links with the objects shared by other participants. 
      </p>
    </li>
    <li>
      <p>
        Museums have been described as theatres of memory, and their collections as containers of memory (<a href="http://clok.uclan.ac.uk/10787/1/Object%20relations%20at%20the%20museum.pdf">Froggert &amp; Trustram, 2014 </a>). As humans, we understand the world through making sense of and responding to objects. Objects have the power to connect us with a moment in time and with the life, thoughts and values of another person, facilitating object-based learning. 
      </p>
      <p>
        The vision of Soul Relics is to be able to exhibit collected objects and stories as a collection of the inner histories of people. We would like this to be a place where visitors will be able to interact with the objects and elaborate on their relationship with themselves by responding to them. We are open to collaborations and would like to invite you to <a href="#contactus">speak with us</a>. 
      </p>
    </li>
    <li>
      <p>
        Objects are powerful tools for expressing a fragment of the past, and we would like to hear your story of the journeys which have shaped you. If you have a story and an object you would like to share, we invite you to share your story on this website. Your story can be short or long and about any object at all which speaks about you, your inner journey or your times of internal struggle with yourself. 
      </p>
      <p>
        Perhaps your story is a one which you do not yet wish to share. Perhaps you can’t think of any object of importance to you. That’s totally okay, and we invite you to stay and have a look around and to listen to the stories of others. 
      </p>
      <p>
        We believe collective storytelling through objects can bring solace and connection in the journey, and that hearing another’s story will allow you to experience a personal fragment of their lives which may change the way you view the world. It is our hope that this archive, like each of your stories, will be a tapestry full of texture.
      </p>
    </li>
  </ul>
</div>
