body {
	background-color:#4E342E;
}

h1 {
	font-family: 'Work Sans';
	color: white;
}

ul {
	list-style: none;
  font-size: 20px;
  color: black;
  /*background: #CD6600;*/
  height: 60px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  opacity: 0.7;
}

li {
	float: left;
}

li a {
	display: block;
	color: rgba(255,252,211,1);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
}

li a:hover {
   background-color: #00FFFF;
}
iframe{
	padding:30px;
	width:100%;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
footer {
	background: #4E342E;
	color: #fff;
	font-family: 'Shadows Into Light';
}