body {
    max-width: 0 auto;
	background: url("rustic.jpg")
}

h1 {
  color: rgba(255,252,211,1);
  font-family: 'Work Sans'; 
}

h2 {
	color: rgba(255,252,211,1);
	font-family: 'Work Sans';
}

.nav {
list-style: none;
  font-size: 20px;
  color: black;
  /*background: #CD6600;*/
  height: 60px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  opacity: 0.7;
}

li {
	float: left;
}

li a {
	display: block;
	color: rgba(255,252,211,1);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
}

li a:hover {
   background-color: #5F9EA0;
}

.General {
	background-color: rgba(255,252,211,1);
	width: cover;
	border: none;
	padding: 5px;
	padding: 25px;
}

.Depression {
	background-color: rgba(255,252,211,1);
	width: cover;
	border: none;
	padding: 5px;
	padding: 25px;
}

.Anxiety {
	background-color: rgba(255,252,211,1);
	width: cover;
	border: none;
	padding: 5px;
	padding: 25px;
}

.OCD {
	background-color: rgba(255,252,211,1);
	width: cover;
	border: none;
	padding: 5px;
	padding: 25px;
}

.BDD {
	background-color: rgba(255,252,211,1);
	width: cover;
	border: none;
	padding: 5px;
	padding: 25px;
}
footer {
	background: #4E342E;
	color: #fff;
	font-family: 'Shadows Into Light';
}