* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
}
.sans-type {
  font-family: 'Work Sans', sans-serif;
}
.cursive-type {
  font-family: 'Caveat', cursive;
}
.material-icons{
  height:20px;
  width:20px;
}

/*#waterfall.standard { margin: 10px; list-style: none; }
#waterfall.standard li {
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100px);
}
#waterfall.standard li.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s, top 1s;
}

#waterfall.standard li > div {
  color: rgba(0,0,0,0.6);
  font-size: 32px;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
  background: rgb(255,255,255);
  border: 1px solid rgba(038, 191, 64, 0);
  transition: all 0.5s;
}

#waterfall.standard li > div:hover {
  transform: translateY(-10px);
  border: 1px solid rgba(038, 191, 64, 1);
  box-shadow: 0 10px 15px rgba(038, 191, 64, 0.1);
  transition: all 0.3s;
}*/

#waterfall {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

.story {
  min-height: 400px;
  text-align: center;
  overflow: hidden;
  width: 300px;
  margin: 10px 30px;
  cursor: pointer;
}
.story .story-image {
  height: 200px;
  width: auto;
}
.story .story-title {
  font-size: 32px;
  margin: 0px;
  padding: 15px;
  font-weight: 400;
}
.story .story-author {
  font-size: 18px;
  margin: 0px;
  padding: 5px;
}
.story .story-content {
  font-size: 14px;
  line-height: 1.5;
  overflow: none;
  padding: 5px;
}

.hider {
  position: fixed;
  right: 2vw;
  top: 5vh;
  font-size: 80px;
  cursor: pointer;
  z-index: 5;
  display: 'none';
}

#waterfall.magnify {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#waterfall.magnify li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#waterfall.magnify .story {
  width: 70%;
  margin: 50px auto;
}

.nav {
  list-style: none;
  font-size: 20px;
  color: black;
  /*background: #CD6600;*/
  height: 60px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  opacity: 0.7;
}

.nav li {
  padding: 15px;
}

.nav li a {
  color: black;
  text-decoration: none;
}
