<div style="margin-top: 100px">
  <div class="uk-container uk-container-large">
  <p style="margin-bottom: 16px" ng-bind-html="$ctrl.description">
  </p>
    <button uk-toggle="target: #story-submission" class="uk-button uk-button-primary uk-margin-bottom uk-margin-right uk-position-bottom-right uk-position-fixed" style="z-index: 100;">
      <span uk-icon="icon: pencil" class="uk-margin-small-right"></span>Tell us your story!
    </button>

    <div id="story-submission" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <sr-story-submission></sr-story-submission>
      </div>
    </div>

    <div collapsed-grid>
      <sr-story class="uk-width-1-2@m uk-width-1-3@l uk-width-1-4@xl" ng-repeat="story in $ctrl.stories" style="display:block;" story="story" uk-scrollspy="cls: uk-animation-fade; delay: 150;"></sr-story>
    </div>
  </div>
</div>


<div class="uk-position-fixed uk-position-top">
  <sr-nav></sr-nav>
</div>
