<sr-section innerid="about" background-img="{{$ctrl.backgroundImg}}" background-color="rgba(255, 255, 255, 0.8)">
  <div class="uk-flex uk-flex-center">
    <div class="uk-width-2-3@l">
      <sr-card title="About us">
        <div class="uk-flex">
          Welcome to the Soul Relics Museum. 
        </div>
        <div class="uk-flex uk-width-2-3@m uk-margin-top">
          Soul Relics is a collection of personal objects that have held special significance to their owners during times of distress.
        </div>
        <div class="uk-flex uk-width-2-3@m uk-margin-top">
          A Soul Relic can be anything of personal significance. It may have provided solace or comfort, helped recover a sense of self, or simply marked a time of difficult internal struggle. 
        </div>
        <div class="uk-flex uk-width-2-3@m uk-margin-top">
          As each object is unique, so is every narrative contained in these objects, and every person who chooses to share their story through them. 
        </div>
        <div class="uk-flex uk-width-2-3@m uk-margin-top">
          Ultimately, Soul Relics is a place for collective storytelling and story-receiving – a repository of memories, feelings and experiences. We hope that by engaging with this archive, you will be able to deepen your relationship with yourself and others.
        </div>
        <div class="uk-flex uk-width-2-3@m uk-margin-top">
          We would like to invite you to share your story on our website, or if you do not wish to share, have a look around and read the stories of others. 
        </div>
        <div class="uk-flex uk-width-2-3@m uk-margin-top">
          It is a gallery of photos of objects and personal stories that are related to a difficult time of your lives (A period of mental ill health); and/or something that helped you work towards recovery. That object can be anything of personal significance, or/and represent institutional barrier to mental health care, etc.
        </div>
      </sr-card>
    </div>
  </div>
</sr-section>
