<sr-section innerid="about" background-img="{{$ctrl.backgroundImg}}" background-color="rgba(255, 255, 255, 0.8)">
  <div class="uk-flex uk-flex-center">
    <div class="uk-width-2-3@l">
      <sr-card title="About us">
        <div class='uk-flex'>
          <div>
            <div class="uk-flex">
              Welcome to the Soul Relics Museum.
            </div>
            <div class="uk-flex uk-margin-right uk-margin-top">
              Soul Relics is an outline platform for object-based storytelling and mental health.
             </div>
            <div class="uk-flex uk-margin-right uk-margin-top">
              Here you will find a gallery of objects and personal stories that relate a difficult time in our contributors’ lives when they struggled with mental ill health or traversed the journey to recovery.
            </div>
            <div class="uk-flex uk-margin-right uk-margin-top">
              A Soul Relic can be anything of personal significance, and we invite you in to explore the archive and contribute your objects.
            </div>
            <div class="uk-flex uk-margin-right uk-margin-top">
              Ultimately, Soul Relics is a place for collective storytelling and story-receiving – a repository of memories, feelings and experiences. We hope that by engaging with this archive, you will be able to deepen your relationship with yourself and others.
            </div>
            <div class="uk-flex uk-margin-right uk-margin-top">
              We would like to invite you to share your story on our website, or if you do not wish to share, have a look around and read the stories of others. 
            </div>
            <div class="uk-flex uk-margin-right uk-margin-top">
              It is a gallery of photos of objects and personal stories that are related to a difficult time of your lives (A period of mental ill health); and/or something that helped you work towards recovery. That object can be anything of personal significance, or/and represent institutional barrier to mental health care, etc.
            </div>
          </div>
          <div style="width:195px; text-align:center;" ><iframe  src="https://www.eventbrite.co.uk/countdown-widget?eid=44896595927" frameborder="0" height="481" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:195px; text-align:center;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.co.uk/">Powered by Eventbrite</a></div></div>
          <!--
          <div>
            <iframe src='//www.youcaring.com/fundraiser-widget.aspx?frid=1133576' width='260' height='398' frameborder='0'></iframe>
          </div>
        </div>
          -->
      </sr-card>
    </div>
  </div>
</sr-section>
