<div id="about" class="uk-cover-container" uk-height-viewport>
  <img class="margin-large-top" src="http://soulrelicsmuseum.me/aboutus.jpg" uk-cover>
  <div class="uk-overlay uk-position-cover uk-flex uk-flex-column uk-flex-left uk-dark"
    uk-scrollspy="cls:uk-animation-fade; offset-top: -80; repeat: true; delay: 100"
    style="background: rgba(255, 255, 255, 0.8)">
    <div style="margin-top: 80px">
      <div class="uk-flex">
        <h1 class="title">About us</h1>
      </div>
    </div>
    <div class="uk-overflow-auto">
      <div class="uk-flex">
        We believe everyone has a story to tell.
      </div>
      <div class="uk-flex uk-width-2-3@m uk-margin-top">
        Yet, many stories are untold, hidden, or suppressed.
      </div>
      <div class="uk-flex uk-width-2-3@m uk-margin-top">
        Soul Relics is an online platform on storytelling, objects and mental health. We are dedicated to respond to these issues using creative media and stories.
      </div>
      <div class="uk-flex uk-width-2-3@m uk-margin-top">
        We anchor our memories with objects. By creating an open platform for connections to form between our individual stories, and letting each person use objects to express a fragment of past/ present personal account of mental ill health and recovery, we hope to create a collective message that transcends barriers between people, and challenges the stigma surrounding mental health.
      </div>
      <div class="uk-flex uk-width-2-3@m uk-margin-top">
        Ultimately, we hope the platform will capture both unique experiences and common themes. We wish to provide a new way for people to tell and understand others’ stories.
      </div>
      <div class="uk-flex uk-width-2-3@m uk-margin-top">
        If you agree with the cause, please read our stories, and/or send yours. You can also look at the vision statement on Medium .
      </div>
      <div class="uk-flex uk-width-2-3@m uk-margin-top">
        It is a gallery of photos of objects and personal stories that are related to a difficult time of your lives (A period of mental ill health); and/or something that helped you work towards recovery. That object can be anything of personal significance, or/and represent institutional barrier to mental health care, etc.
      </div>
    </div>
  </div>
</div>
