<sr-section innerid="contactus" background-img="{{$ctrl.backgroundImg}}" background-color="rgba(255, 255, 255, 0.8)">
  <div class="uk-flex uk-flex-center">
    <div class="uk-width-1-3@l uk-width-1@xs">
      <sr-card title="Contact us">
        <form action="https://formspree.io/soulrelicsmuseum@outlook.com" method="POST">
          <div class="uk-margin">
            <input name="name" class="uk-input" type="text" placeholder="Name">
          </div>
          <div class="uk-margin">
            <input name="_replyto" class="uk-input" type="email" placeholder="Email">
          </div>
          <div class="uk-margin">
            <input name="subject" class="uk-input" type="text" placeholder="Subject">
          </div>
          <div class="uk-margin">
            <textarea name="comment" class="uk-textarea" placeholder="Comment" style="resize: none;" rows="5"></textarea>
          </div>
          <input class="uk-button uk-button-default" type="submit" value="Send">
        </form>
      </sr-card>
    </div>
  </div>

</sr-section>
