<div id="home" class="uk-cover-container" uk-height-viewport>
  <img class="margin-large-top" ng-repeat="image in $ctrl.images" ng-src="{{image}}" uk-cover ng-class="{'transparent': $ctrl.active != $index}"
  style="transition:opacity 1s linear;">
  <div class="uk-overlay uk-position-cover uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-light"
    style="background: rgba(205, 102, 0, .8); margin-top: 80px">
    <div class="uk-flex uk-text-center">
      <h1 class="title">SOUL RELICS</h1>
    </div>
    <div class="uk-flex uk-text-center">
      Soul Relics is an online platform of object-based storytelling and mental health.
    </div>
    <div class="uk-flex uk-width-1-2@m uk-text-center uk-margin-top">
      Here you will find a gallery of objects and personal stories that relate a difficult time in our contributors’ lives when they struggled with mental ill health or traversed the journey to recovery. A Soul Relic can be anything of personal significance, and we invite you in to explore the archive and contribute your objects.
    </div>
    <div class="uk-flex uk-margin-medium-top">
      <a href="#about" uk-icon="icon: chevron-down; ratio: 2" uk-scroll></a>
    </div>
  </div>
</div>
